# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 8

print(number)

8

##### Assinging float

In [3]:
numberFloat = 3.8
print(numberFloat)

3.8

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 5
num2 = 18.7

result = num1 + num2
print(result)

23.7

##### Subtraction

In [17]:
result_diff = num2 - num1
print(result_diff)

13.7

##### Multiplication

In [18]:
result_mul = num1 * num2
print(result_mul)

93.5

##### Division

In [19]:
result_div = num2/num1
print(result_div)

3.7399999999999998

##### Floor Division

In [20]:
result_floor = num2//num1
print(result_floor)

3.0

##### Modulo

In [24]:
# result_mod = num2 % num1
# print(result_mod)

result_mod = 10 % 3
print(result_mod)

1

### Exponential

In [27]:
square = 8 ** 2
print(square)

64

### String Input-Output

##### String Assignment

In [28]:
name = "James"
print(name)

James

##### print() <br>
<p>Don't forget about end=' '</p>

In [33]:
print("This is his name:",name )

print("Full name:", name, end=" Smith")

This is his name: James
Full name: James Smith

##### String Concatenation

In [36]:
first_name = "John"
last_name = "Smith"

full_name= first_name + " " + last_name
print(Full_name)

full_name += ", Jr."
print(full_name)

John Smith
John Smith, Jr.

##### Type Conversion

In [38]:
number = "38"
change_type_num = int(number)

print(number)
print(change_type_num)

38
38

##### input()

In [40]:
name = input("WHat is your name? ")
print("Nice to meet you, " + name)

WHat is your name? Brian
Nice to meet you, Brian

##### format()

In [43]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!" .format(age, name)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

What is your age? 18
You are 18 Brian and you are getting wiser!
18 is a great time in life

##### Old Way (python 2)

In [46]:
result_string2 = "You are %s and you look great for your age." %age
print(result_string2)

You are 18 and you look great for your age.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [48]:
name = input("What is your name? ")
color = input("What is the color of your car? ")
year = input("what year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
results = f"{name}, your {year} {make} {model}'s color is {color}."

print(results)

What is your name? Brian
What is the color of your car? blue
what year is your car? 2021
What make is your car? Toyota
What model is your car? Tundra
Brian, your 2021 Toyota Tundra's color is blue.

### If Statements

In [11]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 10
num3 = 0
num4 = 20

    
# T and F = False:
if num2 > num1 and num3 > 0:
    print("Num2 is greater")
else:
    print("Equal values")
    
# T and T = T
if num4 > num2 and num3 >= 0:
    print("num4 is greater")

# T or F = T
if num2 > num1 or num3 > 0:
    print("num2 is greater")
    
# F or T = T
if num2 < num1 or num3 >= 0:
    print("Truth!")
    
# F or F = F
if num4 < num2 or num3 > 0:
    print("Truth!!")
else:
    print("You are wrong sir.")

Equal values
num4 is greater
num2 is greater
Truth!
You are wrong sir.

##### 'is' keyword

In [12]:
num = 88

if num is 88:
    print("You got it dude!")

You got it dude!

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\starz\AppData\Local\Temp\ipykernel_13024\3865974239.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num is 88:

##### 'in' keyword

In [13]:
movie_quote = 'Dune'

if 'Dune' in movie_quote:
    print("The spice extends life.")

The spice extends life.

##### 'not in' keyword'

In [15]:
game_char = "Samus Aran"

if "q" not in game_char:
    print("Metroid")

Metroid

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [19]:
variable = input("What is your favorite book? ")

if 'e' in variable:
    print('That is a long read.')
    
if 'd' in variable:
    print("blah")
else: 
    print("4 books long of a series")

What is your favorite book? Eragon series
That is a long read.
4 books long of a series

## Using 'and'/'or' with If Statements

In [22]:
num4 = 20
num5 = 10
num6 = 50
num7 = 100

# if with and statement
if num4 / 2 == num5 and num6 is 5 * num5:
    print('num.nums')
    
# if with or statement
if num7 / 10 == num5 or num5 < num7:
    print("woot woot")

num.nums
woot woot

### Elif Statements

In [25]:
first_name = input('What is your name? ')

if first_name == "James":
    print("Bond, James Bond")
elif first_name != "James":
    print('Agent Q?! Weapons please.')

What is your name? Brian
Agent Q?! Weapons please.

### Else Statements

In [27]:
# see above
color = input("What color is your truck? ")

if color == "black":
    print("ninja")
else: 
    print("Blue skys")

What color is your truck? blue
Blue skys

### For Loops

In [30]:
name = "Brian Cox"
print(name)

for letter in name:
    print(letter)

Brian Cox
B
r
i
a
n

C
o
x

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [31]:
for i in range(28):
    if i == 7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

##### Break Statement

In [ ]:
# will break out of current loop

In [32]:
for i in range(20):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [33]:
for i in name:
    pass

##### Double For Loops

In [43]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [44]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [47]:
game_over = True

while game_over:
    print("infinite loop")
    user_input = input("Do you want to end? ")
    if user_input == "yes":
        game_over = False

infinite loop
Do you want to end? na
infinite loop
Do you want to end? no
infinite loop
Do you want to end? yes

##### While & For Loops Used Together

In [50]:
num = 0

while num < 5:
    print("/nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num += 1

/nWhile loop iteration: 0
For loop iteration:  1
For loop iteration:  2
/nWhile loop iteration: 1
For loop iteration:  1
For loop iteration:  2
/nWhile loop iteration: 2
For loop iteration:  1
For loop iteration:  2
/nWhile loop iteration: 3
For loop iteration:  1
For loop iteration:  2
/nWhile loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [55]:
# for i in range(20):
# for i in range (2, 20):
for i in range (2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [56]:
name = "Anthony"

length = len(name)
print(length)

7

##### help()

In [57]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [3]:
num = 4.5

if isinstance(num,int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [4]:
print(abs(-8))

8

### Try and Except

In [4]:
try:
    input_num = int(input('Guess a number'))
    print('Your number is ' + str(input_num))
    
except: 
    print('That did not work! Change your input to a number!')

Guess a number8
Your number is 8

### Lists

##### Declaring Lists

In [31]:
list_1 = []

# single index
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [32]:

# print starting at index 1 and going to the end
print(names[1:])

# print starting a begginng then ending at a number of the list
print(names[:3])

# print starting at a number then going up by 2 in each iteration
print(names[1::2])

# print starting at the back and display in reverse order
print(names[::-1])

['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy', 'Kathy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [33]:
names.append('Anthony')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Anthony']

##### .insert()

In [34]:
names.insert(3, 'Devin')
print(names)

['Max', 'Cindy', 'Kathy', 'Devin', 'Bob', 'Nate', 'Anthony']

##### .pop()

In [35]:
# defaults to last value if no peramiter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devin', 'Bob', 'Nate', 'Anthony']


##### .remove()

In [36]:
# value to be removed instead of the index
names.remove('Bob')
print(names)

['Max', 'Cindy', 'Devin', 'Nate', 'Anthony']

##### del()

In [37]:
# goes by index
# it can cause index errors if not used carefuly

del(names[1])
print(names)

['Max', 'Devin', 'Nate', 'Anthony']

##### Concatenating Two Lists

In [41]:
# will append two lists together
# it will not add the values!!

list_2 = [0, 1, 2]
list_3 = [8, 9, 11]

large_list = list_2 + list_3

print(large_list)

[0, 1, 2, 8, 9, 11]

##### Lists Within Lists

In [42]:
# list can hold any type of other element: including other lists
# they can go as deep as you want; this is call nested lists

names = ['Max', 'Sam', 'Joseph', ['Beth', 'Sue', 'Tameka']]
print(names)
print(names[3][1])

['Max', 'Sam', 'Joseph', ['Beth', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [45]:
# two ways to loop through lists
# one is by using the index
# the other is by using the 'in' keyword

# by index

for i in range(len(names)):
    print(names[i])
    
# loop with 'in'

for i in names:
    print(i)

Max
Sam
Joseph
['Beth', 'Sue', 'Tameka']
Max
Sam
Joseph
['Beth', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [62]:
# Cube Number Test
max_value = 1000
current_cube = 1

while True:
    cube_result = current_cube ** 3
    
    if cube_result > max_value:
        break
    
    print(cube_result)
    
    current_cube += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [68]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

lower = int(input('beginning of interval: '))
upper = int(input('end of interval: '))

for num in range(lower, upper + 1):
    if num > 1:
        
        for i in range(2, num):
            if num%i == 0:
                break
        else:
            print(num)

beginning of interval: 0
end of interval: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [61]:
adults = 18
seniors = 65

age = int(input("Please enter your age? "))

if age < adults:
    print("kids")
elif age >= seniors:
    print("seniors")
else:
    print("adults")

Please enter your age? 17
kids